body
{
    margin: 0;
    padding: 0;
}
.video-container
{
    height: 95vh;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}
.video-controls
{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background-color: brown; */
}
.video-player
{
    width: 100vw;
    height: 95vh;
}